.jumbotron {
    background-color: #e9ecef;
    padding: 2rem;
    border-radius: 0.5rem;
}
  
.card {
    transition: transform 0.2s;
}
  
.card:hover {
    transform: scale(1.05);
}

/* Remove default margin and padding */
body, html {
    margin: 0;
    padding: 0;
}
  
  /* Ensure the header and footer span the full width */
header, footer {
    width: 100%;
}